# Ignore everything by default
*

# But not these files/directories
!.gitignore
!nvim/
!tmux/
!.bashrc

# Optional: Ignore contents of untracked directories unless explicitly allowed
nvim/*
!nvim/**

tmux/*
!tmux/**

# Ignore the plugins directories
tmux/plugins/*

# Ignore lazylock json
nvim/lazy-lock.json

# Don't ignore powerline config settings
!powerline/
!powerline/*
!powerline/**
